body {
  padding: 0px;
  margin: 0px;
  font-family: 'PopPins';
  overflow-x: hidden;
}

/* header style start */

.navbar {
  padding: 0px 30px;
  background: #fff;
}


a,a:hover {
  text-decoration: none;
}

li.nav-item {
  margin: 40px 0px 0px 30px;
}

li.nav-item.active {
  position: relative;
}

li.nav-item.active::after {content: "";
  height: 4px;
  position: absolute;
  background: #28A745;
  width: 100%;
  bottom: 0;
  left: 0;
}

li.active a.nav-link {
  font-weight: 700;
}

li a.nav-link {
  color: #000;
  font-size: 15px;
  padding: 0px 0px 40px !important;
}

.dropdown-toggle::after {
  display: none;
}



span.inner-menu {
  display: inherit;
}



.item-burger a {
  padding: 7px 9px !important;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #000;
}
.item-burger a:hover{
  color: #ddd;
  background-color: #704270;
}

.item-number a {
  padding: 7px 9px !important;
  font-size: 14px;
  border: 1px solid #ddd;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  color: #000;
}

.item-add {
  margin-left: 0 !important;
}

.link-add {
  padding: 7px 9px !important;
  font-size: 14px;
  background-color: #8D538D;
  border: 1px solid#8D538D;
  border-left: 0;
  font-weight: 700;
  border-radius: 0 3px 3px 0;
  color: #fff !important;
}
.link-add:hover{
  background-color:#533153;
}

.item-user {
  margin-left: 5px !important;
}
.item-user a {
  padding: 7px 9px !important;
  font-size: 14px;
  border: 1px solid #8D538D;
  border-radius: 3px;
  color: #000;
}
.item-user a:hover{
  background-color: #8D538D;
  color: #ddd;
}


.item-globe {
  margin-left: 5px !important;
}
.item-globe a {
  padding: 7px 9px !important;
  font-size: 14px;
  border: 1px solid #8D538D;
  border-radius: 3px;
  color: #000;
}
.item-globe a:hover{
  background-color: #8D538D;
  color: #ddd;
}

.item-cart {
  margin-left: 5px !important;
}
.item-cart a {
  padding: 7px 9px !important;
  font-size: 14px;
  border: 1px solid #8D538D;
  border-radius: 3px;
  color: #000;
}

.item-cart a:hover{
  background-color: #8D538D;
  color: #ddd;
}

li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* banner style start */

.banner-sec {
  background-image: url(https://source.unsplash.com/1600x900/?street,night,market);
  background-color: #000000b8;
  background-blend-mode: hue;
}

.py-lg {
  padding: 150px 0px;
}

.heading-text {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 22px;
  color: #fff;
}

.form-search {
  padding: 20px 40px;
}

.form-search .form-group {
  padding: 0px 5px;
}

.form-search .form-group .input-search {
  position: relative;
  padding: 20px 20px 20px 70px;
}

.form-search .form-group .input-search::placeholder {
  color: #8D538D !important;
}

.input-search-icon {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 30px;
}

.form-search .form-group input {
  height: 72px;
  font-size: 20px;
  border: 0;
}

.input-search-submit{
  background-color: #8D538D;
  color: #fff;
}
.input-search-submit:hover{
  background-color: #533153;
}

.form-para {
  font-size: 15px;
  color: #fff;
  font-family: 'Montserrat';
  text-align: center;
}

.btn-group {
  justify-content: center;
  width: 100%;
}

.btn-group .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px;
  background: #8D538D;
  color: #fff;
}

.btn-group .btn:hover {
  color: #533153;
  background: #fff;
}
.btn-group span.btn-group-gap {
  width: 1px;
  margin: 0;
  padding: 0;
  background:  #533153;
}

/* slider-section style start */

.slider-section {
  padding: 40px 0px;
  background: #f7f7f7;
}

i.slick-arrow {
  top: calc(50% - 40px);
  padding: 15px;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #533153;
}

.slick-track .slide {
  display: inline-block;
}

.slick-slide img {
  display: block;

}

.slide-item-box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 12px 0 rgb(0 0 0 / 3%), 0 30px 15px -15px rgb(0 0 0 / 1%);
  cursor: pointer;
}


.slide-item-box img {
  width: 60px;
  padding: 15px;
}

.slide-item-box h3 {
  color: #533153;
  font-size: 14px;
}




/* Featured style start */

.featured {
  padding: 100px 0px;
}

.featured-heading {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.featured-heading span {
  color: #533153;
}

.place-row {
  padding: 40px 0px;
}

.place-inner {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgb(0 0 0 / 5%), 0 0 0 1px rgb(0 0 0 / 1%);
  position: relative;
  margin-bottom: 20px;
}

.icon-abs {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #fff;
  background: #8D538D;
  border-radius: 4px;
  padding: 0px 6px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}

.place-inner:hover img {
  transform: scale(1.05);
}

.place-inner img {
  width: 100%;
  transition: 0.5s;
}

.place-inner-text {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.place-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.place-sub-title {
  font-size: 12px;
  font-weight: 400;
  color: #777;
  font-family: 'Montserrat';
  margin: 0;
}

.place-tag {
  font-size: 12px;
  margin: 0;
}

.place-tag span {
  cursor: pointer;
  background: #eee;
  color: #8D538D;
  font-weight: 500;
  margin: 0px 2px;
  font-size: 11px;
}

ul.place-rating {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.place-rating li {
  display: inline;
}

ul.place-rating li i {
  cursor: pointer;
  color: #efc843;
}

/* city style start */

.city-row {
  padding: 40px 0px 20px;
}

.city-row .city {
  margin-bottom: 20px;
}

.city-inner {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.city-inner:hover img {
  transform: scale(1.05);
}

.city-inner img {
  width: 100%;
  transition: 0.5s;
}

.city-text {
  position: absolute;
  left: 0px;
  bottom: 10px;
  padding: 20px;
  color: #fff;
}

.city-text h2 {
  font-size: 24px;
  margin: 0;
}

.city-text p {
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat';
}

/* register style start */

.register {
  padding: 80px 0px 60px;
  background: #704270;
  text-align: center;
}

.register-row h2 {
  text-align: center;
color: #fff;
margin-bottom: 20px;
font-size: 30px;
}

.register-row p {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: 'Montserrat';
}

.register-row a {
  text-align: center;
  padding: 9px;
  background: #fff;
  font-size: 14px;
  width: 200px;
  color: #704270;
  font-weight: 600;
  border-radius: 4px;
}
.register-row a:hover{
  background-color:#8D538D;
  color: #fff;
}


/* footer style start */

footer {
  padding: 60px 0px 30px;
  background: #161329;
}

footer .footer-logo {
  font-size: 30px;
  color: #fff;
}

footer .footer-info {
  color: #f7f7f7;
  font-size: 14px;
  font-family: 'Montserrat';
}

footer .footer-info span {
  font-weight: 700;
}

.footer-heading {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-blog-row img {
  border-radius: 4px;
  position: relative;
  width: 100%;
}

.footer-blog-row-img {
  padding: 0 !important;
}

.footer-blog-row-img .icon-abs {
  top: 5px;
  left: 5px;
}

.footer-blog-row-text h4 {
  color: pink;
  font-size: 16px;
  font-weight: 600;
}

.footer-blog p {
  font-size: 13px;
  font-weight: 400;
  color: #f7f7f7;
  font-family: 'Montserrat';
  margin-top: 5px;
  margin-bottom: 0;
}

.footer-touch p {
  font-size: 13px;
  font-weight: 400;
  color: #f7f7f7;
  font-family: 'Montserrat';
  margin-top: 5px;
  margin-bottom: 0;
}

.footer-contact {
  color: #704270;
  background: white;
  margin: 10px 0px;
  float: left;
  padding: 5px 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
.footer-contact:hover{
  background-color: #704270;
  color: white;
}

.footer-bottom {
  padding: 20px;
  background: #1f1c31;
}

.copyright {
  color: #82828b;
  font-size: 12px;
}

.copyright span {
  color: #fff;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
}

.footer-menu-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.footer-menu-ul li {
  display: inline;
  margin: 2px 5px;
}

.footer-menu-ul li a {
color: #fff;
font-size: 12px;
font-weight: 600;
}
.footer-menu-ul li a:hover{

   color: pink;
}

.footer-social {
  margin: 0;
  list-style: none;
}


ul.footer-social li {
  display: inline;
}

ul.footer-social li a {
  background: #fff;
  width: 25px;
  float: left;
  margin-left: 5px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: #000;
}
ul.footer-social li :hover{

      transform: translateY(-4px);
      transition:0.5s;
      background-color:pink;

}


@media only screen and (max-width: 767px) {

li.nav-ilitem {
    margin: 10px 10px;
}

li.nav-item a.nav-link {
  padding-bottom: 10px !important;
}

li.nav-item.active::after {
  max-width: 100px;
}

.row {
  margin: 0;
}

.footer-area {
    padding-bottom: 20px;
}

.form-search {
  padding: 0;
}

.heading-text {
  font-size: 30px;
}

input.form-control.input-search {
  padding: 10px 10px 10px 50px !important;
}

.form-search .form-group input {
  height: 50px;
}

.input-search-icon {
  top: 12px;
  left: 12px;
}

li.nav-item {
  margin-top: 10px !important;
}

span.inner-menu {
  display: inherit;
  margin-bottom: 20px;
}

span.copyright {
  display: block;
  text-align: center;
}

.footer-menu {
  flex-direction: column;
  align-items: center;
}

.footer-menu ul {
  padding: 0;
}

ul.footer-menu-ul {
  padding-bottom: 20px;
}




}
